
body{
    margin: 0px;
    width: 1024px;
    position: relative;
    left: 512px;
}

#body-box{
    display: flex;
    flex-direction: column;
}

#Jason-Lopez{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#Navigation{
    height: 100px;
    width:auto;
    background-color: tomato;
}
ul{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
li{
    font-size: xx-large;
}

#pic{
display: flex;
flex-wrap: wrap;
}

#about{
    width: 280px;
    height: 500px;
    position: relative;
    left: 75px;
}
#utube{
    display: flex;
    justify-content: center;
    background-color: tomato;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#tkd{
    height: 650px;
    width: 530px;
}
#cello{
    height: 325px;
    width: 408px;
}
#digiral-art{
    height: 290px;
    width: 408px;
}
#hire{
    display: flex;
    flex-wrap: wrap;
}

h1 {
    height: 200px;
    width: 200px;
    background-color: bisque;
    color: brown;
    transition-property: background-color color height width;
    transition-duration: .8s;
    transition-delay: .25s;
}
h1:hover {
    background-color: blue;
    color: gray;
    height: 500px;
    width: 500px;
    transition-property: background-color color height width;
}
#links {
    height: 150px;
    background-color: tomato;
}

a:visited, a:hover, a:focus {
        text-decoration: none;
        color: #000;
    }